
.cont {width: 50%; margin: 0 auto; font-family: sans-serif;}
.right {float: right}
.left {float: left}
.listline {width:300px; height: 30px; padding: 15px;}
.button {padding:0px 3px; background: white; border: none;}
.newButton {padding:10px 10px; background: white; margin-bottom: 15px; border: pink 2px solid; border-radius: 30px;}
.dashboard{width:400px;}
.cont{width:800px;}
.active{text-decoration: underline;}
button:focus {outline:0;}